<div>
    <div ui-view="navheader"></div>
    <div ui-view="mains"></div>
    <a ui-sref="create-u">create-u</a>
    <a ui-sref="create-v">create-v</a>
    <a ui-sref="view-u">view-u</a>
    <a ui-sref="view-v">view-v</a>
</div>
