.topnav {
  background-color: darkslategray;
  border-radius: 0;
  border:none;
  color: white;
}

.navbar-brand{
    cursor: default;
    color: white !important;
}

.navbar-nav a{
     cursor: pointer !important;
}

.dropdown-menu{
    color:black;
}