@font-face {
  font-family: Montserrat-Black;
  src: url(./fonts/montserrat/Montserrat-Black.otf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/montserrat/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./fonts/montserrat/Montserrat-ExtraBold.otf);
}
@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(./fonts/montserrat/Montserrat-ExtraLight.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./fonts/montserrat/Montserrat-Light.otf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./fonts/montserrat/Montserrat-Medium.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/montserrat/Montserrat-Regular.otf);
}


body {
  padding: 0;
  font: 14px "Montserrat-Regular", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.boxO{
  float:right;
  clear: right;
  height:44px;
  width:100px;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}