body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.boxO{
  float:right;
  clear: right;
  height:44px;
  width:100px;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.darkviolet{
  background-color: darkviolet;
}