<nav class="navbar navbar-inverse topnav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#verifiedHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" ng-click="home()">ColorBlinder</a>
        </div>
        <div class="collapse navbar-collapse" id="verfiedHeader">
            <ul class="nav navbar-nav">
                <li><a ng-click="home()">Home</a></li>
                <li><a ng-click="create()">Create</a></li>
                <li><a ng-click="myColors()">My Colors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="logout" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>